<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <P class="m-auto subs-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil maxime esse necessitatibus quaerat neque
                blanditiis, voluptatibus voluptates quas natus odio delectus ab iste qui eaque et debitis odit,
                accusantium laudantium.
            </P>
            <form action="" class="row mb-5 mt-5">
                <div class="form-group col-md-5">
                    <input type="text" class="form-control shadow-effect" placeholder="Your name">
                </div>
                <div class="form-group col-md-5">
                    <input type="email" class="form-control shadow-effect" placeholder="Email Address">
                </div>
                <div class="col-md-2 d-grid">
                    <button class="btn btn-info btn-theme">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>