<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vel ducimus sunt nostrum
                necessitatibus soluta nobis maxime? Ratione, aspernatur! Ullam consequuntur hic assumenda doloremque
                debitis blanditiis sapiente ipsum similique labore? Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Quasi saepe pariatur odio nulla officiis ratione necessitatibus expedita iusto ipsam, velit minima
                totam quibusdam voluptas aut ipsa libero impedit ducimus? Adipisci!
            </p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vel ducimus sunt nostrum
                necessitatibus soluta nobis maxime? Ratione, aspernatur! Ullam consequuntur hic assumenda doloremque
                debitis blanditiis sapiente ipsum similique labore? Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Debitis dolore nulla sed quis facere labore pariatur, voluptate quaerat, accusamus dignissimos
                iure ex saepe laboriosam expedita tenetur porro delectus autem. Explicabo!
            </p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vel ducimus sunt nostrum
                necessitatibus soluta nobis maxime? Ratione, aspernatur! Ullam consequuntur hic assumenda doloremque
                debitis blanditiis sapiente ipsum similique labore? Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Asperiores hic itaque veritatis repellat magnam, quae magni ex, officia consectetur quos voluptas
                eius voluptatum, tempora perferendis nulla deserunt reiciendis repudiandae ab. Lorem ipsum dolor sit,
                amet consectetur adipisicing elit. Commodi, laudantium doloribus! Laudantium perferendis corrupti itaque
                animi voluptate blanditiis? Maxime tempora placeat recusandae. Facilis omnis eveniet beatae ipsa nisi.
                Eaque, doloremque!
            </p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>