<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/1227497/pexels-photo-1227497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ms-2">Featured</small>
                    <small class="bg-light text-info text-center ms-2">Views - 100,255</small>
                    <small class="bg-light text-warning text-center ms-2">LAST UPDATED - SEP 20, 2021</small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2021 EDITED IN NEW CATEGORY</h1>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium omnis atque quia fuga
                        cumque
                        harum similique eveniet inventore aspernatur excepturi, eaque tempora cum doloremque repudiandae
                        itaque doloribus. Eveniet, officia laboriosam!
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe cumque repellendus cupiditate,
                        similique sed est quae dolore. Nulla laboriosam ipsa ad, commodi veniam porro quae fugiat
                        pariatur
                        voluptatibus, accusamus odio. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                        aliquid laborum illum doloribus, in reiciendis unde repellat, veritatis ut repudiandae nostrum
                        suscipit eius fugit doloremque beatae, sapiente earum nobis inventore! Lorem ipsum dolor, sit
                        amet
                        consectetur adipisicing elit. Perferendis nemo voluptate amet. Blanditiis, corrupti. Aut tempore
                        atque porro officia provident, fuga aperiam a odit! Fuga numquam labore architecto omnis eaque.
                        <br><br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi eius nulla ea cumque
                        exercitationem doloribus incidunt tenetur illo odit consectetur, sed minus itaque! Laboriosam
                        deleniti ipsa, error amet eum molestiae. Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Sint, fugit vero. Eos distinctio sequi nam, voluptatum ut harum? Quam quasi quod vero
                        reprehenderit
                        asperiores nulla voluptates in inventore facere expedita! Lorem ipsum dolor sit, amet
                        consectetur
                        adipisicing elit. Distinctio magni itaque facere illum molestiae saepe ea! Vitae eaque
                        architecto
                        nam commodi nemo magnam accusamus dolor exercitationem. Hic recusandae quam magni.
                        <br><br>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium omnis atque quia fuga
                        cumque
                        harum similique eveniet inventore aspernatur excepturi, eaque tempora cum doloremque repudiandae
                        itaque doloribus. Eveniet, officia laboriosam!
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe cumque repellendus cupiditate,
                        similique sed est quae dolore. Nulla laboriosam ipsa ad, commodi veniam porro quae fugiat
                        pariatur
                        voluptatibus, accusamus odio. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                        aliquid laborum illum doloribus, in reiciendis unde repellat, veritatis ut repudiandae nostrum
                        suscipit eius fugit doloremque beatae, sapiente earum nobis inventore! Lorem ipsum dolor, sit
                        amet
                        consectetur adipisicing elit. Perferendis nemo voluptate amet. Blanditiis, corrupti. Aut tempore
                        atque porro officia provident, fuga aperiam a odit! Fuga numquam labore architecto omnis eaque.
                        <br><br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi eius nulla ea cumque
                        exercitationem doloribus incidunt tenetur illo odit consectetur, sed minus itaque! Laboriosam
                        deleniti ipsa, error amet eum molestiae. Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Sint, fugit vero. Eos distinctio sequi nam, voluptatum ut harum? Quam quasi quod vero
                        reprehenderit
                        asperiores nulla voluptates in inventore facere expedita! Lorem ipsum dolor sit, amet
                        consectetur
                        adipisicing elit. Distinctio magni itaque facere illum molestiae saepe ea! Vitae eaque
                        architecto
                        nam commodi nemo magnam accusamus dolor exercitationem. Hic recusandae quam magni.
                        <br><br>
                    </p>
                </div>
            </div>

            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>