<div class="card shadow-effect" *ngIf="postData">
    <img src="{{ postData.data.postImgPath }}" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger">{{ postData.data.category.category }}</small>
        <small class="bg-light text-success ms-3">Featured</small>
        <small class="bg-light text-info ms-3">Views - {{ postData.data.views }}</small>

        <h5 class="mt-1">{{ postData.data.title }}</h5>
        <p>{{ postData.data.excerpt }}</p>

        <small class="bg-light text-warning">LAST UPDATED - {{ postData.data.createdAt.toMillis() | date}}</small>
    </div>
</div>